.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10rem;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__drawer-box {
    position: relative;
  }

  &__menu {
    position: absolute;
    top: 8.4rem;
    left: 0;
    min-width: 25rem;
    opacity: 0;
    visibility: hidden;
  }

  &__menu-list {
    list-style: none;
    background: darken($color-white, 4%);
    border: 1px solid $color-primary;
    border-radius: 0.5rem;
    > li {
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light;
      }
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background: darken($color-white, 10%);
      }
    }
  }

  &__list-item {
    &:hover {
      color: $color-primary;
    }
    &--title {
      font-size: 2rem;
      font-weight: 700;
      text-decoration: underline;
    }

    &--item {
      font-size: 1.6rem;
      letter-spacing: 1px;
      position: relative;
    }

    &--subitem {
      position: absolute;
      top: 0;
      left: 22.8rem;
      list-style: none;
      background: darken($color-white, 4%);
      min-width: 25rem;
      border: 1px solid $color-primary;
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;
      transform: translateY(-1.1rem);
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      > li {
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
        padding: 1rem 2rem;

        &:hover {
          background: darken($color-white, 10%);
          color: $color-primary;
        }
      }
    }

    &--biglist {
      transform: translateY(-11.4rem);
      > li {
        padding: 0.5rem 2rem !important;
      }
    }

    &--arrow {
      font-size: 1.2rem;
      transform: translateY(0.5rem);
      color: lighten($color-grey-dark, 10%);
    }

    &:hover &--subitem {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu-list > li:hover &__list-item--arrow {
    color: $color-primary;
  }

  &__menu-list > li:hover &__list-item--subitem {
    color: $color-grey-dark;
  }

  &__drawer-box:hover &__menu {
    opacity: 1;
    visibility: visible;
  }

  &__search {
    width: 50%;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    border: 3px solid transparent;
    outline: none;
    transition: all 0.1s;

    &:active,
    &:focus {
      border: 3px solid $color-secondary;
    }

    &::placeholder {
      font-style: italic;
      font-size: 1.6rem;
    }
  }

  &__input:focus &__search {
    border: 1px solid $color-secondary;
  }

  &__cart {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__listing {
    position: relative;
    &--details {
      position: absolute;
      top: 5rem;
      left: -5rem;
      display: none;
      width: 22rem;
      font-weight: 100;
      ul {
        text-decoration: none;
        list-style: none;
        background: darken($color-white, 4%);
        border: 1px solid $color-primary;
        border-radius: 0.5rem;
        overflow: hidden;
        li {
          &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light;
          }
          cursor: pointer;
          padding: 1rem 2rem;

          &:hover {
            background: darken($color-white, 8%);
          }
        }
      }
    }

    &:hover &--details {
      display: block;
    }
  }
}

.header-main {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.7),
      rgba($color-black, 0.7)
    ),
    url("/assets/images/vegetables-1.jpg");
  background-size: cover;
  background-position: top;
  padding: 3rem 10rem;

  &__mainInput {
    width: 80rem;
    padding: 1.5rem 2rem;
    opacity: 0.7;
    border-radius: 0.8rem;
    border: 5px solid transparent;
    outline: none;
    font-size: 2.3rem;
    &:active,
    &:focus {
      border: 5px solid $color-secondary;
    }
    &::placeholder {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2.3rem;
      font-weight: 300;
      letter-spacing: 1px;
      font-style: italic;
      color: $color-grey-dark;
    }
  }
}

.header-secondary {
  display: flex;
}
