.login-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("/assets/images/shipping1.jpg");
  background-size: cover;
  background-position: top;
  height: 100%;

  &__cta {
    position: absolute;
    top: 15%;
    left: 16%;
    transform: translate(-50%, -50%);
    > * {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.75);
  z-index: 2000;
  &__content {
    width: 67%;
    height: 50rem;
    background-color: $color-white;
    border-radius: 5px;
    overflow: hidden;
    @include absCenter;
    display: table;
  }

  &__left {
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;
    height: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.7),
        rgba($color-black, 0.7)
      ),
      url("/assets/images/login_green_leafy.jpg");
    background-size: cover;
  }

  &__right {
    display: table-cell;
    vertical-align: top;
    padding: 9rem 12rem;
    width: 66.667%;
    &--register {
      padding: 4.5rem 12rem;
    }
  }

  &__close {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 3.3rem;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}
