// Font sizes
$default-font-size: 1.6rem;

// Grid
// Grid
$grid-width: 117rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

// Colors
$color-primary: #48b128;
$color-secondary: #EBAC04;
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #eee;
$color-grey-light-2: #ccc;
